h1 {
    color : var(--very-dark-blue);
    font-weight: var(--fontWeightNormal);
    font-size: 2.5rem;
}

h2 {
    color : var(--very-dark-blue);
    font-weight: var(--fontWeightNormal);
    font-size: 2rem;
}

h3 {
    color : var(--very-dark-blue);
    font-weight: var(--fontWeightStandart);
    font-size: 1.2rem;
}

p {
    color : var(--grayishBlue);
    font-weight: var(--fontWeightStandart);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color : var(--grayishBlue);
    font-weight: 400;
    transition: color 0.5s ease;

    &.active {
        color : var(--very-dark-blue);
        font-weight: var(--fontWeightNormal);
    }
}

ul {
    list-style: none;
}

//Buttons

.primary {
    background-color: var(--softBlue);
    color : white;
    border-radius: 5px;
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;
}

.secondary {
    background-color: white;
    color : var(--very-dark-blue);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
}

//bg

.bg {
    background-color: var(--softBlue);
    width: 100%;
    height: 350px;
    position: absolute;
    right: -40%;
    bottom: 0;
    z-index: -1000;
    border-bottom-left-radius: 120px;
  
    &--reverse {
      left: -40%;
      bottom: -30%;
      width: 120%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 120px;
    }
  }

/*Extra */

.line {
    width: 100%;
    height: 1px;
    background-color: var(--grayishBlue);
    margin: .75em 0;
}


@media (max-width : 1280px) {
    .bg {
        height: 80%;

        &--reverse {
            width: 100%;
        }
    }
}

@media (max-width : 1024px) {
    .bg {
        height: 70%;
        bottom : 10%;

        &--reverse {
            bottom : 0;
            width: 120%;
            left: -50%;
        }
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: .9rem;
    }

    .primary {
        font-size: .8rem;
    }
}

@media (max-width : 768px) {
    .bg {
        height: 70%;
        bottom : 5%;

        &--reverse {
            height: 85%;
            bottom : -20%;
        }
    }
}