* , *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Rubik', sans-serif;
    font-size : 18px;
}

.app {
    display: flex;
    flex-direction: column;
    gap : 6rem;
    overflow: hidden;
}

:root {
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);

    --fontWeightStandart : 400;
    --fontWeightNormal : 500;
}

.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0.5rem;
  
    @media (max-width: 1536px) {
      max-width: 1280px;
    }
    
    @media (max-width: 1280px) {
      max-width: 1024px;
    }
    
    @media (max-width: 1024px) {
      max-width: 768px;
    }
  
    @media (max-width: 768px) {
      max-width: 640px;
    }
  
    @media (max-width: 640px) {
      max-width: 475px;
    }
    
    @media (max-width: 475px) {
      width: 100%;
    }
  }
  
    
